mixin brands(cl)
  +b.brands(class=cl)
    +e.inner
      +e.H2.title Партнеры компании 
      +e.slider
        .swiper-container
          .swiper-wrapper
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-1.svg' alt='image')
              +e.content
                +e.P.caption Organix
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-2.svg' alt='image')
              +e.content
                +e.P.caption Sirius
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-3.svg' alt='image')
              +e.content
                +e.P.caption Animal feed
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-1.svg' alt='image')
              +e.content
                +e.P.caption Organix
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-2.svg' alt='image')
              +e.content
                +e.P.caption Sirius
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com
            +e.slide.swiper-slide
              +e.IMG.pic(src='/icon/icon-brands-3.svg' alt='image')
              +e.content
                +e.P.caption Animal feed
                +e.text Даже в этом коротком фрагменте видно, что субъективное восприятие иллюстрирует экзистенциальный голос персонажа.
                +e.A.link(href="javascript:void(0);") organix.com

