include ../static/pug/global
<!DOCTYPE html>
html(lang="ru")
  +head('Главная')
  body.index
    +header()
    +banner('index')
    +vantage()
    +product('index')
    +brands()
    +news('index')
    +footer('callback')
    include ../static/pug/_scripts