include ../static/pug/global
<!DOCTYPE html>
html(lang="ru")
  +head('Политика конфиденциальности')
  body.index
    +header()
    +b.heading
      +e.picture
        +e.IMG.pic(src='/images/banner-legal.jpg' alt='Политика конфиденциальности')
      +e.content
        +e.inner.inner
          +e.H1.title Политика 
            br
            |конфиденциальности
          +e.text Читайте последние новости компании, отчеты, мнения экспертов и многое другое от нашей команды талантливых профессионалов в области отрасли
    +b.legal
      +e.inner.inner
        +e.IMG.pic(src='/images/legal-banner.jpg' alt='image')
        +e.content
          ol
            li
              b Общие положения
              p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее – Оператор).
            li
              b Основные понятия, используемые в Политике
              ol
                li Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.
                li Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).
                li Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу httpsː//thismywebsite·com.
                li Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.
            li
              b Основные права и обязанности Оператора
              ol
                li Оператор имеет право:
                  br
                  p – получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
                  p – в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
                  p – самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.
                li Оператор обязан:
                  br
                  p – предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;
                  p – организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;
                  p – отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;
                  p – сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса.
            li
              b Оператор может обрабатывать следующие персональные данные Пользователя
              ol
                li Фамилия, имя, отчество.
                li Электронный адрес.
                li Номера телефонов.
                li Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
                li Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
                li Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.
                li Обработка персональных данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10 Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о персональных данных.
                li Согласие Пользователя на обработку персональных данных, разрешенных для распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.
                li Согласие на обработку персональных данных, разрешенных для распространения, Пользователь предоставляет Оператору непосредственно.
                li Оператор обязан в срок не позднее трех рабочих дней с момента получения указанного согласия Пользователя опубликовать информацию об условиях обработки, о наличии запретов и условий на обработку неограниченным кругом лиц персональных данных, разрешенных для распространения.
                li Передача (распространение, предоставление, доступ) персональных данных, разрешенных субъектом персональных данных для распространения, должна быть прекращена в любое время по требованию субъекта персональных данных. Данное требование должно включать в себя фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый адрес) субъекта персональных данных, а также перечень персональных данных, обработка которых подлежит прекращению. Указанные в данном требовании персональные данные могут обрабатываться только Оператором, которому оно направлено.
                li Согласие на обработку персональных данных, разрешенных для распространения, прекращает свое действие с момента поступления Оператору требования, указанного в п. 5.8.3 настоящей Политики в отношении обработки персональных данных.
    +footer('callback')
    include ../static/pug/_scripts