include ../static/pug/global
<!DOCTYPE html>
html(lang="ru")
  +head('Пресс-центр')
  body.page
    +header()
    +banner('banner', '/images/banner-press.jpg', 'Пресс-центр', 'Читайте последние новости компании, отчеты, мнения экспертов и многое другое от нашей команды талантливых профессионалов в области отрасли')
    +news('list')
    +footer('callback')
    include ../static/pug/_scripts