include ../static/pug/global
<!DOCTYPE html>
html(lang="ru")
  +head('Закупка')
  body.index
    +header('Закупки')
    +b.heading
      +e.picture
        +e.IMG.pic(src='/images/banner-legal.jpg' alt='Закупка')
      +e.content
        +e.inner.inner
          +e.H1.title Закупка
          +e.text Читайте последние новости компании, отчеты, мнения экспертов и многое другое от нашей команды талантливых профессионалов в области отрасли
    +b.content
      +e.inner.inner
        +e.IMG.pic(src='/images/legal-banner.jpg' alt='image')
        +e.text
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
            br
            | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          p
            b Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
            br
            | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          blockquote
            i «Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем.»
            span Константинопольский Константин
            span Генеральный директор
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. 
            a(href="#") Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            | Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          p
            b Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
            br
            | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          ul
            li Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            li Мы никогда не стоим на месте; мы никогда не устареем. 
            li Это видно в нашей работе.
          .swiper-container
            .swiper-wrapper
              +e.slide.swiper-slide
                +e.IMG.img(src='/images/news-1.jpg' alt='image')
              +e.slide.swiper-slide
                +e.IMG.img(src='/images/news-1.jpg' alt='image')
              +e.slide.swiper-slide
                +e.IMG.img(src='/images/news-1.jpg' alt='image')
            .swiper-pagination
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
            br
            | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          ol
            li Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            li Мы никогда не стоим на месте; мы никогда не устареем. 
            li Это видно в нашей работе. 
          +b.video
            +e.IMG.pic(src='/images/news-1.jpg' alt='image')
            +e.BUTTON.play
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
            br
            | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
    +footer('callback', '#provider')
    include ../static/pug/_scripts