mixin product(state)
  if state == 'index'
    +b.product-index
      +e.inner
        +e.content
          +e.H2.title.heading-1 Продукция
          +e.text
            p Производство животного белка для применения в кормах с/х животных и домашних питомцев.
          +e.A.link.link(href="/product.html")
            span В раздел
        +e.IMG.pic(src='/images/prod-1.jpg' alt='image')
  if state == 'page'
    +b.products-info
      +e.inner.inner
        +e.P.sign Протеиновые основы и добавки, вырабатываемые по нашей технологии 
          br
          | позволят внести в рацион питания сельскохозяйственных животных и птицы 
          br
          | сбалансированный̆ комплекс питательных веществ, что значительно повысит 
          br
          | усвояемость кормов, а, следовательно, и продуктивность, улучшит здоровье животных. 
        +e.row
          +e.col
            +e.P.caption При производстве белкового 
              br
              | концентрата не используется сырье 
              br
              | с содержанием каких-либо трансгенных 
              br
              | материалов и обеспечивается 
              br
              span.loading 100% биологическая безопасность 
              | конечной̆ продукции 
            +e.IMG.pic(src='/images/prod-2.jpg' alt='')
          +e.col
            +e.text
              p Добавки белковые кормовые «Биомит», представляют собой высокобелковые кормовые концентраты, вырабатываемые из сырья животного, растительного происхождения и другого сырья,  предназначенные для последующего разбавления и смешивания с другими кормовыми средствами с целью получения сбалансированного по питательности корма в производстве комбикормовой продукции, а также для непосредственного добавления в рационы сельскохозяйственных животных, птицы, непродуктивных животных (пушных зверей, кошек, собак) и рыб.
              p Продукты линейки «Биомит» - прямая альтернатива мясной муке 1-го сорта. Фактический протеин более 80%, а по органолептическим, физико- химическим и бактериологическим показателям кормовые добавки «Биомит» превосходят кормовую муку. Концентраты «Биомит» имеют более жесткие показатели по жиру, золе, влаге. 
    +b.products-line
      +e.inner.inner
        +e.head_beetw
          +e.wrap
            +e.H2.title.heading-1.text-uppercase Кормовые
            +e.sign В соответствии с технологическим процессом обеспечивается производство трех основных продуктов: 
              b Биомит Норма, Биомит Экстра и Биомит Супер
              |, отличающихся содержанием количества протеина в конечном продукте
          +e.SVG.icon-big(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 412.804 167.206')
            defs
              style.
                .cls-1 {
                fill: #8de100;
                }
            g.op
              g
                path.cls-1(d='M321.59884,26.946a19.70125,19.70125,0,0,0-6.71859-4.51531,16.4969,16.4969,0,0,0-6.00343-1.01093h-.18548a15.34442,15.34442,0,0,0-9.09743-3.00874h-1.83517v2.23424a7.45881,7.45881,0,0,0,2.02012,5.10246A10.53156,10.53156,0,0,0,308.37239,42.481h5.44225a5.19374,5.19374,0,0,0,3.50119,1.50451h2.72156l-1.88046-3.76087,1.88046-3.76106h-2.72156a5.19325,5.19325,0,0,0-3.50119,1.50444h-2.51623a3.02079,3.02079,0,0,1-2.60548-1.50444h.31116a5.27344,5.27344,0,0,0,5.22108-4.58091c3.04957-.27053,5.75887-1.39934,7.4775-3.978l.34832-.52294Zm-22.3356-7.03048a13.92619,13.92619,0,0,1,6.96,1.70557A10.45646,10.45646,0,0,0,300.75862,24.59a5.954,5.954,0,0,1-1.49538-3.94475Zm18.05259,18.05259h.28725l-1.12828,2.25662,1.12828,2.25636h-.28725c-1.31376,0-3.00868-1.09425-3.00868-2.25636,0-1.16238,1.69492-2.25662,3.00868-2.25662Zm-8.31174-3.00894h-3.6477a3.76744,3.76744,0,0,1,3.6854-3.00875h3.64771a3.76725,3.76725,0,0,1-3.68541,3.00875Zm3.63958-4.513h-3.60188a5.27127,5.27127,0,0,0-5.26537,5.26536v.75212h3.26629a4.52978,4.52978,0,0,0,4.2557,3.00868H312.906a2.7919,2.7919,0,0,0,0,1.5045h-4.53356a9.02648,9.02648,0,1,1-.083-18.05259,17.49062,17.49062,0,0,1,5.02521.571,6.78,6.78,0,0,0-.56244,6.95009c-.03617.00026-.07206.0008-.1085.0008Zm1.78989-.09651a5.26065,5.26065,0,0,1,.37856-6.32651,18.127,18.127,0,0,1,5.26663,3.55633,8.072,8.072,0,0,1-5.64519,2.77018Zm0,0')
                rect.cls-1(x='315.05927' y='26.68501' width='1.5045' height='1.5045')
              path.cls-1(d='M308.916,62.39648,281.898,46.79688V15.59961L308.916,0l27.01855,15.59961V46.79688ZM283.898,45.64258,308.916,60.08691l25.01855-14.44433V16.75391L308.916,2.30957,283.898,16.75391Z')
            g.op
              g
                rect.cls-1(x='129.53577' y='78.65954' width='3.35283' height='3.35283')
                path.cls-1(d='M168.31927,92.31824c-2.47276-10.25177-5.16784-22.365-5.48271-23.17121l-.00581-.01863-.00119.0006a9.70977,9.70977,0,0,0-9.02762-6.16087H128.80828l.30265-1.72648h2.10126V57.88881h-3.13453a8.45444,8.45444,0,0,0,1.698-5.41h-3.35641a5.07685,5.07685,0,1,1-10.13181,0H112.9312a8.45781,8.45781,0,0,0,1.69787,5.41h-3.5315v3.35284h2.499l2.039,11.6394a4.18229,4.18229,0,0,0,2.05134,2.8727v5.0595a10.63256,10.63256,0,0,0,4.79172,8.88561l2.05238,16.497h7.53583l1.918-14.75023h1.96744a10.00663,10.00663,0,0,0,2.02049,4.54272l-1.85345,2.13046,2.52983,2.2008,1.80964-2.081a10.00108,10.00108,0,0,0,2.45054,1.13624v3.2208h3.35284V99.808a9.99857,9.99857,0,0,0,4.94148-1.52278v7.9793h7.50826l4.40652-21.03791c.64434,2.7143,1.30731,5.43144,1.9202,7.80286Zm-48.122-19.24914a1.22011,1.22011,0,0,1-1.25962-.76713l-1.10122-6.286a15.17493,15.17493,0,0,0,6.3598,3.847L123.769,72.302a1.22,1.22,0,0,1-1.25962.76713Zm4.5834-6.541a11.84042,11.84042,0,0,1-6.40183-5.28644h7.328Zm14.59644,24.91752h5.017a10.27223,10.27223,0,0,0,5.01,4.00716,6.70223,6.70223,0,0,1-10.02706-4.00716Zm16.61113,11.46609H154.5558V92.76812a9.554,9.554,0,0,1-5.23533-1.08379,8.94012,8.94012,0,0,1-2.946-3.59155H131.03993L129.12136,102.843h-1.62873L125.5985,87.62249c-2.63265-1.43427-4.55881-3.65608-4.55881-6.80983V76.42194h1.46973a4.49026,4.49026,0,0,0,4.56179-3.54149l1.14965-6.55949h9.19347a8.219,8.219,0,0,0,6.62133,13.09468h1.11522a14.21992,14.21992,0,0,0,13.97491,8.5171Zm4.15558-30.24941v10.41l-.294,1.40461a10.8423,10.8423,0,0,1-8.5457-2.2905,12.42657,12.42657,0,0,1-3.78065-6.12362h-3.48784a4.87093,4.87093,0,1,1,0-9.74185h9.76628a6.42144,6.42144,0,0,1,6.34192,6.34133Zm0,0')
              path.cls-1(d='M139.7085,147.74707l-59.21485-34.188V45.18457l59.21485-34.188,59.21435,34.188v68.37451ZM82.49365,112.40479,139.7085,145.4375l57.21435-33.03271V46.33887L139.7085,13.30615,82.49365,46.33887Z')
            g.op
              path.cls-1(d='M343.72261,89.737V94.0486a4.61352,4.61352,0,0,0,4.61459,4.71h1.30259v2.2252a14.97839,14.97839,0,0,0-1.45392,13.59387l1.04248,2.71523v7.40842a5.04275,5.04275,0,0,0-3.63427,4.83547v3.51h32.033V128.684h.18814a5.479,5.479,0,0,0,5.47288-5.47288v-9.32205h-1.42958a7.04373,7.04373,0,0,0-5.17278,2.26049,18.76837,18.76837,0,0,0-6.3611-9.02411l-8.78578-6.80783V96.54193a4.46639,4.46639,0,0,0,2.09731-3.78356V89.64851a5.522,5.522,0,0,0-5.51555-5.51568h-4.92107a5.249,5.249,0,0,0-4.45638,2.50327l-1.22056,2.00382Zm17.05452-.08853v3.10986a1.60715,1.60715,0,1,1-3.2143,0l.02229-5.766h.5355a2.65867,2.65867,0,0,1,2.656,2.65613ZM377.655,120.95214a4.21156,4.21156,0,0,1,2.77344-3.95324v6.2122a2.61618,2.61618,0,0,1-2.6132,2.61332H377.655Zm-29.20135,8.58465a2.17647,2.17647,0,0,1,2.17437-2.17387h1.4599V116.76249l-1.23252-3.20985a12.122,12.122,0,0,1,1.246-11.10448h7.51885l8.95291,6.93775a15.98147,15.98147,0,0,1,6.19436,12.63546v8.16582H358.52709v-.58812a2.23867,2.23867,0,0,1,2.23616-2.23615h3.20934v-5.01813a5.15537,5.15537,0,0,1,5.06284-5.15392l-.05121-2.85905a8.014,8.014,0,0,0-7.87119,8.013v2.15858h-.34978a5.06253,5.06253,0,0,0-2.37946.59155V111.42743h-2.859v18.75976h-7.07112v-.6504ZM346.58229,91.8876l2.80325-.80963,1.79975-2.95407a2.37175,2.37175,0,0,1,2.01426-1.13152h1.526l-.02242,5.76051a4.47384,4.47384,0,0,0,3.97668,4.44428v2.39144h-6.18035V95.89956h-4.16176a1.76508,1.76508,0,0,1-1.75542-1.851Zm0,2.161')
              path.cls-1(d='M362.0415,167.20557l-50.7622-29.30811V79.28223l50.7622-29.30811,50.7627,29.30811v58.61523Zm-48.7622-30.46241L362.0415,164.896l48.7627-28.15284V80.43652L362.0415,52.28369,313.2793,80.43652Z')
            g.op
              path.cls-1(d='M269.05428,96.05109h5.32506v-2.4665h-5.32506a5.24059,5.24059,0,0,0-5.23458,5.23458v.1714a5.24059,5.24059,0,0,0,5.23458,5.23458h.09047a2.76791,2.76791,0,1,1,0,5.53582h-6.16933l-1.49326-12.98973a12.99059,12.99059,0,0,0-1.37768-5.36015A14.49263,14.49263,0,0,0,256.269,86.46c-.12469-.10111-.246-.20814-.36112-.31912a3.719,3.719,0,0,1-.81226-4.09388,6.8104,6.8104,0,0,0,.49435-2.55435v-.12633a6.39215,6.39215,0,0,0-1.88475-4.55007,5.94422,5.94422,0,0,0-2.76511-1.695,9.68253,9.68253,0,0,0-1.71818-1.89813,3.95054,3.95054,0,0,0-4.28064-.78518l-.915.3984.86183,4.23052c-1.20705.91327-4.25662,2.82116-4.25662,2.82116l.61081,3.04354c.08608.23775.13149.41167.17568.57923a2.81222,2.81222,0,0,0,.76763,1.432,3.55434,3.55434,0,0,0,1.331.79723,1.11528,1.11528,0,0,1,.705,1.2701c-.95571,4.58857-1.8886,9.20773-1.8886,10.868v9.0826a3.63723,3.63723,0,0,0,.236,7.26683h26.5758a5.23442,5.23442,0,1,0,0-10.46884h-.0909a2.77118,2.77118,0,0,1-2.76764-2.76807v-.1714a2.77128,2.77128,0,0,1,2.76807-2.76808Zm-27.65608,12.5387a1.17242,1.17242,0,0,1,1.17075-1.17119h6.74889v-3.471a3.2794,3.2794,0,0,1,3.2757-3.2757h1.23326V98.20539h-1.23326a5.70629,5.70629,0,0,0-3.2757,1.03016V96.56211h-2.4665v8.39h-2.05188v-9.074a100.26206,100.26206,0,0,1,1.83683-10.3651,3.5723,3.5723,0,0,0-2.23863-4.07721,1.953,1.953,0,0,1-.44555-.21417,7.951,7.951,0,0,1-.35728-1.03587l-.19827-1.01173c1.34928-.88157,3.33821-2.41168,3.60808-2.61992l.60786-.46947-.691-3.391a5.56324,5.56324,0,0,1,2.25793,2.22108l.30113.44808.53372.08269a3.30028,3.30028,0,0,1,1.94694,1.11547,3.94,3.94,0,0,1,1.16219,2.80536v.12677a4.35957,4.35957,0,0,1-.31615,1.63385,6.17366,6.17366,0,0,0,1.38919,6.79035c.16536.15945.33973.31363.51836.45838a12.15546,12.15546,0,0,1,4.30071,8.46883v.07063l1.477,12.84585H242.569a1.17213,1.17213,0,0,1-1.17075-1.17118Zm0,0')
              path.cls-1(d='M255.10107,141.79541l-43.84082-25.31152V65.86133L255.10107,40.5498l43.84082,25.31153v50.62256Zm-41.84082-26.46582,41.84082,24.15625,41.84082-24.15625v-48.314L255.10107,42.85938,213.26025,67.01563Z')
            g.op
              path.cls-1(d='M47.03573,104.25724l2.8559-2.7106L46.93451,99.996l1.49183-4.81214-12.84615,6.61381a1.72922,1.72922,0,0,1-1.47177.05385c-.03372-.01588-.06128-.02832-.08109-.03721a1.74,1.74,0,0,1-.64222-.53534l-5.36018-7.331.47184-1.00266a1.33174,1.33174,0,0,0-1.56824-1.85006,1.33141,1.33141,0,0,0-2.31071-.63333,1.33348,1.33348,0,0,0-2.08643,1.62088l.2076.35969A3.46063,3.46063,0,0,0,21.59147,93.82l-3.32653,1.54645,2.18219,1.281-.3078.58786a1.8766,1.8766,0,0,0,1.13735,2.67263v4.75784a11.96065,11.96065,0,0,0,3.22283,8.06875,10.85725,10.85725,0,0,0,6.42628,3.42471v3.51335a.94551.94551,0,0,1-.94437.94437H26.93349v1.90461h6.44165a2.85323,2.85323,0,0,0,2.849-2.85393l-.01765-3.48084a11.1003,11.1003,0,0,0,3.90479-1.79176l3.33269.27186L43.29,111.39223h2.76738l-.54747-3.48078,3.873-.23941Zm-13.66059,16.3597h-.70623a2.83572,2.83572,0,0,0,.16149-.94437v-3.41283h1.472l.01734,3.41283a.94552.94552,0,0,1-.94462.94437Zm12.53264-14.63842-2.60443.161.52639,3.34812H41.29358l.14612,3.105-1.88257-.15374-.28926.2175a8.791,8.791,0,0,1-3.75741,1.69873H32.35711a8.828,8.828,0,0,1-6.466-2.92118,10.03575,10.03575,0,0,1-2.71009-6.76813V95.2553a1.53683,1.53683,0,0,1,2.77728-.90716l5.88929,8.055a3.65139,3.65139,0,0,0,1.3936,1.14555v.00025l.00718.00324.0273.01264a10.90878,10.90878,0,0,1,5.00691,4.97934,14.25547,14.25547,0,0,1-3.52695.6271c-3.10306.13152-5.417-.96818-6.8783-3.26721l-1.60742,1.02178a8.97364,8.97364,0,0,0,8.00424,4.16052q.27756,0,.56156-.01219a15.97879,15.97879,0,0,0,5.05727-1.08077l.80174-.33988-.26691-.82879a11.49888,11.49888,0,0,0-3.84174-5.40279l8.67725-4.46757-.61745,1.99219,2.00406,1.0508-2.10529,1.99815Zm0,0')
              path.cls-1(d='M34.07813,145.61475,0,125.93945V86.58984L34.07813,66.91455,68.15625,86.58984v39.34961ZM2,124.78516l32.07813,18.52,32.07812-18.52v-37.041l-32.07812-18.52L2,87.74414Z')


        +e.list_three
          +e.item
            +e.info
              +e.H3.caption Биомит Норма 
              +e.P.txt Белковый растительно-животный комплекс, с содержанием протеина 50-55%
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.pic-content
                +e.P.hold_right Биг-бэг
                  br
                  | 900/1000кг
                +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
          +e.item
            +e.info
              +e.H3.caption Биомит Экстра
              +e.P.txt Белково-углеводная кормовая добавка с содержанием протеина 60-65%
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.pic-content
                +e.P.hold_right Бигбэг
                  br
                  | 900/1000кг
                +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
          +e.item
            +e.info
              +e.H3.caption Биомит Супер 
              +e.P.txt Высококачественный белковый концентрат c содержанием протеина более 80%
                i Добавка в полнорационные корма для животных. Альтернатива существующим протеиновым добавкам (соевый шрот, глютен, рыбная и мясокостная мука). 
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.pic-content
                +e.P.hold_right Бигбэг
                  br
                  | 900/1000кг
                +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
        +e.list_two
          +e.item
            +e.info
              +e.H3.caption Жир животный кормовой 
              +e.P.txt Высокоценный продукт, получаемый из жирового и жиросодержащего непищевого сырья, предназначенный для производства комбикормов и кормления животных и птицы.
                i Животный жир вырабатывается в соответствии с требованиями ГОСТ 17483-72, с соблюдением  всех ветеринарно-санитарных правил. 
              +e.A.link(href="#") Документация
            +e.pic-right_top
              +e.IMG.img(src='/images/prod-4.png' alt='')
              +e.pic-content
                +e.P.hold Биг-бэг 900/1000кг
                +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
          +e.item
            +e.info
              +e.H3.caption Биомит Wool 
              +e.P.txt Белковый керотинсодержащий концентрат, состоящий исключительно из щетины животных
            +e.pic-right_top
              +e.IMG.img(src='/images/prod-4.png' alt='')
              +e.pic-content
                +e.P.hold картонно-наливной барабан - 30 кг
                  br
                  | пластиковые  бочки - 100 кг 
                +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
    +b.products-line
      +e.inner.inner
        +e.head
          +e.H2.title.heading-1.text-uppercase пищевые
          +e.IMG.icon(src='/images/prod-icon-2.png' alt='')
        +e.box
          +e.info
            +e.H3.caption Неопровит
            +e.P.txt Очищенный пищевой белок для использования в производстве БАД  и спортивного питания
            +e.info-content
              +e.P.hold мешки - 150 кг 
              +e.A.buy.btn-buy.js-open-modal(href="#callback") Купить
          +e.pic-big
            +e.IMG.picture(src='/images/prod-5.png' alt='')