mixin product(state)
  if state == 'index'
    +b.product-index
      +e.inner
        +e.content
          +e.H2.title.heading-1 Продукция
          +e.text
            p Производство животного белка для применения в кормах с/х животных и домашних питомцев.
          +e.A.link.link(href="/product.html")
            span В раздел
        +e.IMG.pic(src='/images/prod-1.png' alt='image')
  if state == 'page'
    +b.products-info
      +e.inner.inner
        +e.P.sign Протеиновые основы и добавки, вырабатываемые по нашей технологии 
          br
          | позволят внести в рацион питания сельскохозяйственных животных и птицы 
          br
          | сбалансированный̆ комплекс питательных веществ, что значительно повысит 
          br
          | усвояемость кормов, а, следовательно, и продуктивность, улучшит здоровье животных. 
        +e.row
          +e.col
            +e.P.caption При производстве белкового 
              br
              | концентрата не используется сырье 
              br
              | с содержанием каких-либо трансгенных 
              br
              | материалов и обеспечивается 
              br
              span.loading 100% биологическая безопасность 
              | конечной̆ продукции 
            +e.IMG.pic(src='/images/prod-2.png' alt='')
          +e.col
            +e.text
              p Добавки белковые кормовые «Биомит», представляют собой высокобелковые кормовые концентраты, вырабатываемые из сырья животного, растительного происхождения и другого сырья,  предназначенные для последующего разбавления и смешивания с другими кормовыми средствами с целью получения сбалансированного по питательности корма в производстве комбикормовой продукции, а также для непосредственного добавления в рационы сельскохозяйственных животных, птицы, непродуктивных животных (пушных зверей, кошек, собак) и рыб.
              p Продукты линейки «Биомит» - прямая альтернатива мясной муке 1-го сорта. Фактический протеин более 80%, а по органолептическим, физико- химическим и бактериологическим показателям кормовые добавки «Биомит» превосходят кормовую муку. Концентраты «Биомит» имеют более жесткие показатели по жиру, золе, влаге. 
    +b.products-line
      +e.inner.inner
        +e.head
          +e.H2.title.heading-1.text-uppercase Кормовые
          +e.IMG.icon(src='/icon/prod-icon-1.svg' alt='')
        +e.sign В соответствии с технологическим процессом обеспечивается производство трех основных продуктов: 
          b Биомит Норма, Биомит Экстра и Биомит Супер
          |, отличающихся содержанием количества протеина в конечном продукте
        +e.list_three
          +e.item
            +e.info
              +e.H3.caption Биомит Норма 
              +e.P.txt Белковый растительно-животный комплекс, с содержанием протеина 50-55%
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.P.hold_right Бигбэг - 1 тонна
                br
                | мешки - 50 кг
          +e.item
            +e.info
              +e.H3.caption Биомит Экстра
              +e.P.txt Белково-углеводная кормовая добавка с содержанием протеина 60-65%
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.P.hold_right Бигбэг - 1 тонна
                br
                | мешки - 50 кг
          +e.item
            +e.info
              +e.H3.caption Биомит Супер 
              +e.P.txt Высококачественный белковый концентрат c содержанием протеина более 80%
                i Добавка в полнорационные корма для животных. Альтернатива существующим протеиновым добавкам (соевый шрот, глютен, рыбная и мясокостная мука). 
              +e.A.link(href="#") Документация
            +e.pic-left
              +e.IMG.img_half(src='/images/prod-3.png' alt='')
              +e.P.hold_right Бигбэг - 1 тонна
                br
                | мешки - 50 кг
        +e.list_two
          +e.item
            +e.info
              +e.H3.caption Жир животный кормовой 
              +e.P.txt Высокоценный продукт, получаемый из жирового и жиросодержащего непищевого сырья, предназначенный для производства комбикормов и кормления животных и птицы.
                i Животный жир вырабатывается в соответствии с требованиями ГОСТ 17483-72, с соблюдением  всех ветеринарно-санитарных правил. 
              +e.A.link(href="#") Документация
            +e.pic-right_top
              +e.IMG.img(src='/images/prod-4.png' alt='')
              +e.P.hold картонно-наливной барабан - 30 кг
                br
                | пластиковые  бочки - 100 кг 
          +e.item
            +e.info
              +e.H3.caption Биомит Wool 
              +e.P.txt Белковый керотинсодержащий концентрат, состоящий исключительно из щетины животных
            +e.pic-right_top
              +e.IMG.img(src='/images/prod-4.png' alt='')
              +e.P.hold картонно-наливной барабан - 30 кг
                br
                | пластиковые  бочки - 100 кг 
    +b.products-line
      +e.inner.inner
        +e.head
          +e.H2.title.heading-1.text-uppercase пищевые
          +e.IMG.icon(src='/images/prod-icon-2.png' alt='')
        +e.box
          +e.info
            +e.H3.caption Неопровит
            +e.P.txt Очищенный пищевой белок для использования в производстве БАД  и спортивного питания
          +e.pic-right
            +e.IMG.img(src='/images/prod-5.png' alt='')
            +e.P.hold_bottom мешки - 150 кг 