mixin about(vars)
  +b.about-top
    +e.inner.inner
      +e.title.heading-2
        p
          span В informbio мы ищем
          |, 
        p привлекаем и чествуем 
        p
          span профессионалов
          |, которые 
        p руководствуются 
        p ценностями  и стремятся к
        p успеху
      +e.P.text Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. 
        br
        | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
  +b.vnt_nobg
    .swiper-container
      .swiper-wrapper
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-2.jpg' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Отношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-2.jpg' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Переотношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-2.jpg' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Недоотношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
      +e.pagination
  +b.blockquote
    +e.inner.inner
      +e.content
        +e.text
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
          p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем.
        +e.P.name Константинопольский Константин
        +e.P.pos Руководитель
      +e.picture
        +e.IMG.pic(src='/images/blockquote-1.jpg' alt='image')
  +b.about_nobg
    +e.inner.inner
      +e.IMG.pic(src='/images/about-2.jpg' alt='image')
      +e.content
        +e.P.sign НАша миссия
        +e.title_dark.heading-2
          p
            span Мы ориентируемся 
            | на 
          p великих людей и 
          p
            | великую 
            span науку 
            | во
          p  всем мире
        +e.P.text_dark Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
          br
          | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
  +brands('_mod')
  +b.about-bottom
    +e.inner
      +e.IMG.pic(src='/images/about-3.jpg' alt='image')
      +e.content
        +e.H2.title Работа в 
          span Inform
          span Bio 
        +e.text.text
          p Если вы талантливы, трудолюбивы и любите работать в команде, то вы отлично в нее вписываетесь. Мы всегда ищем талантливых людей, которые могли бы присоединиться к нашей команде.
            br
            | На постоянной основе ведем набор на вакансии
          ul
            li Менеджер
            li Технолог
            li Оператор
          +e.A.link.link.js-open-modal(href="#work")
            span Отправить резюме