include _modal
#cursor
+b.up
  +e.SPAN.text Наверх

script(src='/libs/jQuery/jquery-3.3.1.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script(src="https://api-maps.yandex.ru/2.1/?apikey=fa057c17-0755-4f61-9b85-0ab53be31987&lang=ru-RU&scroll=false")
script(src='/libs/swiper/script.js')
script(src='/libs/select2/script.js')
script(src='/libs/intl/js/intlTelInput.min.js')
script(src='/libs/animatenumber/jquery.animateNumber.min.js')
script(src='/libs/inputmask/jquery.masked.input.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
script(src="/js/common.js")