mixin vantage(vars)
  +b.step
    +e.inner.inner
      +e.content
        +e.H2.title.heading-1 Наш успех 
          span в цифрах
        +e.text
          p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
      +e.table
        +e.item
          +e.P.numb
            i <
            span(data-numb="100") 0
          +e.P.caption Длительных и крепких отношений с нашими клиентами
        +e.item
          +e.P.numb
            span(data-numb="1000") 0
          +e.P.caption Длительных и крепких отношений с нашими клиентами
        +e.item
          +e.P.numb
            i >
            span(data-numb="50000") 0
            i.hidden тонн
          +e.P.caption Длительных и крепких отношений с нашими клиентами
        +e.item
          +e.P.numb
            span(data-numb="100") 0
            i.hidden %
          +e.P.caption Длительных и крепких отношений с нашими клиентами
        +e.item
          +e.P.numb
            span(data-numb="100") 0
            i.hidden %
          +e.P.caption Длительных и крепких отношений с нашими клиентами
        +e.item
          +e.P.numb
            span(data-numb="100") 0
            i.hidden %
          +e.P.caption Длительных и крепких отношений с нашими клиентами
  +b.vnt
    .swiper-container
      .swiper-wrapper
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-1.png' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Отношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-2.jpg' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Переотношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
        +e.slide.swiper-slide
          +e.inner.inner
            +e.picture
              +e.IMG.pic(src='/images/slide-1.png' alt='image')
            +e.content
              +e.P.sign НАши ценности
              +e.P.title Недоотношения
              +e.text
                p Мы ориентируемся на создание длительных и крепких отношений с нашими клиентами. Мы прилагаем все усилия, чтобы четко понимать все потребности наших клиентов.
      +e.pagination