mixin banner(state, img, title, desc)
  if state == 'index'
    +b.banner
      +e.IMG.pic(src='/images/banner-1.png' alt='image')
      +e.inner.inner
        +e.H1.title
          span Наша цель
          | постоянное совершенствование знаний о новых разработках
  if state == 'banner'
    +b.heading
      +e.picture
        +e.IMG.pic(src=img alt=title)
      +e.content
        +e.inner.inner
          +e.H1.title=title
          +e.text=desc