- var linkItem = ["/", '/about.html', '/product.html','/purchases.html', '/press.html', '/contacts.html']
mixin header(active)
  +b.HEADER.header
    +e.inner.inner
      +e.A.logo(href='/')
        +e.IMG.pic(src='/icon/logo.svg' alt='image')
      +e.NAV.nav
        +e.UL.list
          each item, index in ['Главная', 'О компании', 'Продукция', 'Закупки', 'Пресс-центр', 'Контакты']
            if item == active
              +e.LI.item.active
                +e.A.link(href=linkItem[index])=item
            else
              +e.LI.item
                +e.A.link(href=linkItem[index])=item
        +b.burger
          span
    +b.nav-mobile
      +e.UL.list
        each item, index in ['Главная', 'О компании', 'Продукция', 'Закупки', 'Пресс-центр', 'Контакты']
          if item == active
            +e.LI.item.active
              +e.A.link(href=linkItem[index])=item
          else
            +e.LI.item
              +e.A.link(href=linkItem[index])=item
      +e.call
        +e.P.text Мы всегда рады ответить на любые вопросы о наших продуктах, услугах или общие вопросы. Просто напишите нам.
        +e.A.open.js-open-modal(href="#callback") Связаться с нами