mixin news(state)
  if state == 'index'
    +b.news-index
      +e.inner.inner
        +e.H2.title Новости 
          span компании
        +e.tabs
          +e.pictures
            +e.IMG.pic(style="display: block" src='/images/news-1.jpg' alt='image')
            +e.IMG.pic(src='/images/news-2.jpg' alt='image')
            +e.IMG.pic(src='/images/news-3.jpg' alt='image')
            +e.IMG.pic(src='/images/slide-2.jpg' alt='image')
          +e.content
            +e.A.line(href="javascript:void(0);").active
              +e.P.date 01/05/2021
              +e.P.text Индоссамент доказывает уголовный обычай делового, хотя законодательством может быть установлено иное. 
            +e.A.line(href="javascript:void(0);")
              +e.P.date 01/05/2021
              +e.P.text Умножение двух векторов (скалярное) необходимо и достаточно.
            +e.A.line(href="javascript:void(0);")
              +e.P.date 01/05/2021
              +e.P.text Нечетная функция осмысленно обуславливает убывающий Наибольший Общий Делитель (НОД).
            +e.A.line(href="javascript:void(0);")
              +e.P.date 01/05/2021
              +e.P.text Функция многих переменных притягивает разрыв функции. 
  if state == 'list'
    +b.news-list.section
      +e.inner.inner
        +e.UL.nav
          +e.LI.item.active
            +e.A.link(href="javascript:void(0);") Все новости
          +e.LI.item
            +e.A.link(href="javascript:void(0);") Новости компании 
          +e.LI.item
            +e.A.link(href="javascript:void(0);") Новости отрасли
          +e.LI.item
            +e.A.link(href="javascript:void(0);") Публикации
        +e.wrap
          +e.list
            +e.A.elem(href="javascript:void(0);")
              +e.IMG.pic(src='/images/news-4.png' alt='image')
              +e.content
                +e.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
                +e.info
                  +e.date 01/05/2021
                  +e.tag
                    span новости компании
            +e.A.elem(href="javascript:void(0);")
              +e.IMG.pic(src='/images/news-2.jpg' alt='image')
              +e.content
                +e.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
                +e.info
                  +e.date 01/05/2021
                  +e.tag
                    span новости отрасли
            +e.A.elem(href="javascript:void(0);")
              +e.IMG.pic(src='/images/news-3.jpg' alt='image')
              +e.content
                +e.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
                +e.info
                  +e.date 01/05/2021
                  +e.tag
                    span новости компании
            +e.A.elem(href="javascript:void(0);")
              +e.IMG.pic(src='/images/news-4.png' alt='image')
              +e.content
                +e.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
                +e.info
                  +e.date 01/05/2021
                  +e.tag
                    span новости компании
            +e.A.elem(href="javascript:void(0);")
              +e.IMG.pic(src='/images/news-2.jpg' alt='image')
              +e.content
                +e.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
                +e.info
                  +e.date 01/05/2021
                  +e.tag
                    span новости отрасли
          +e.control
            +e.BUTTON.btn
              span Показать еще
  if state == 'page'
    +b.news-page
      +e.inner.inner
        +e.IMG.pic(src='/images/news-1.jpg' alt='image')
        +e.content
          +e.H1.title Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное 
          +e.IMG.pic-hidden(src='/images/news-1.jpg' alt='image')
          +e.info
            +e.date 01/05/2021
            +e.tag
              span новости компании
          +e.text
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
              br
              | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            p
              b Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
              br
              | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            blockquote
              i «Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем.»
              span Константинопольский Константин
              span Генеральный директор
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. 
              a(href="#") Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
              | Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            p
              b Индоссамент доказывает уголовный обычай делового оборота, хотя законодательством может быть установлено иное. 
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
              br
              | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            ul
              li Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
              li Мы никогда не стоим на месте; мы никогда не устареем. 
              li Это видно в нашей работе.
            .swiper-container
              .swiper-wrapper
                +e.slide.swiper-slide
                  +e.IMG.img(src='/images/news-1.jpg' alt='image')
                +e.slide.swiper-slide
                  +e.IMG.img(src='/images/news-1.jpg' alt='image')
                +e.slide.swiper-slide
                  +e.IMG.img(src='/images/news-1.jpg' alt='image')
              .swiper-pagination
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
              br
              | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
            ol
              li Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
              li Мы никогда не стоим на месте; мы никогда не устареем. 
              li Это видно в нашей работе. 
            +b.video
              +e.IMG.pic(src='/images/news-1.jpg' alt='image')
              +e.BUTTON.play
            p Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе. Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. Мы никогда не стоим на месте; мы никогда не устареем. Это видно в нашей работе.
              br
              | Мы постоянно совершенствуем наши знания о новых разработках в отраслях и областях, в которых мы работаем. 
          +e.control
            +e.A.link(href='#')
              +e.IMG.i(src='/icon/icon-arrow.svg' alt='image')
            +e.A.more(href='#')
              span К списку новостей
            +e.A.link(href='#')
              +e.IMG.i_next(src='/icon/icon-arrow.svg' alt='image')