
mixin contacts(vars)
  +b.contacts
    +e.inner.inner
      +e.col
        +e.head
          +e.H2.title Представительство
          +e.picture
            +e.IMG.pic(src='/icon/icon-cnt-1.svg' alt='Представительство')
        +e.list
          +e.item
            +e.P.name Адрес
            +e.P.val Большой бульвар, 42с1, Инновационный центр Сколково, Москва
          +e.item
            +e.P.name Координаты
            +e.P.val 12.69271, 34.3476991
          +e.item
            +e.P.name Телефон
            +e.A.val(href="tel:+71234567890") +7 123 456-78-90
          +e.item
            +e.P.name E-mail
            +e.A.val(href="mailto:mail@maxifed.ru") mail@maxifed.ru
        +e.map
          #map-1
      +e.col
        +e.head
          +e.H2.title Производство
          +e.picture
            +e.IMG.pic(src='/icon/icon-cnt-2.svg' alt='Представительство')
        +e.list
          +e.item
            +e.P.name Адрес
            +e.P.val Коллективная улица, 1Е, Озёры, городской округ Коломна, Московская область
          +e.item
            +e.P.name Координаты
            +e.P.val 12.69271, 34.3476991
          +e.item
            +e.P.name Телефон
            +e.A.val(href="tel:+71234567890") +7 123 456-78-90
          +e.item
            +e.P.name E-mail
            +e.A.val(href="mailto:mail@maxifed.ru") mail@maxifed.ru
        +e.map
          #map-2
  +b.cnt
    +e.inner.inner
      +e.H2.title Отдел продаж
      +e.P.sign Менеджер по кормовому направлению: 
      +e.item
        +e.P.name Павел Белов
        +e.A.val(href="tel:+71234567890") +7 123 456-78-90
      +e.P.sign Менеджер по кормовому направлению: 
      +e.item
        +e.P.name Павел Белов
        +e.A.val(href="tel:+71234567890") +7 123 456-78-90